.banner {
  width: 100%;
  height: 671px;
}

.banner .banner-in {
  width: 1350px;
  height: 670px;
  margin: 0 auto;
  position: relative;
}

.banner .banner-in .banner-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.banner .banner-in .banner-box li {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.banner .banner-in .banner-box li img {
  width: 100%;
  height: 100%;
}

.banner .banner-in .centerCard {
  width: 700px;
  height: 230px;
  border: 10px solid rgba(200, 200, 200, 0.3);
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  color: #fff;
}

.banner .banner-in .centerCard h2 {
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 20px;
}

.banner .banner-in .centerCard .block {
  width: 382px;
  height: 37px;
  background-color: #4585ff;
  text-align: center;
  line-height: 37px;
  font-size: 16px;
  margin: 20px auto;
  letter-spacing: 8px;
}

.banner .banner-in .centerCard .text {
  margin-top: 28px;
}

.banner .banner-in .centerCard .text p {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
}

.discount {
  width: 100%;
  height: 390px;
}

.discount .discount-in {
  height: 100%;
  position: relative;
}

.discount .discount-in .show {
  width: 394px;
  height: 442px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: -56px;
  color: #434343;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.discount .discount-in .show .imgBox {
  width: 374px;
  height: 290px;
  margin: 10px;
  line-height: 1.5;
}

.discount .discount-in .show .imgBox img {
  width: 100%;
  height: 100%;
}

.discount .discount-in .show span {
  white-space: nowrap;
}

.discount .discount-in .show .tit {
  font-size: 20px;
  height: 40px;
  margin-top: 34px;
  font-weight: 700;
}

.discount .discount-in .show .tit-content {
  font-size: 14px;
}

.discount .discount-in .info {
  height: 100%;
  width: 486px;
  position: absolute;
  right: 0;
  top: 0;
  padding-top: 40px;
  box-sizing: border-box;
  line-height: 1.5;
  color: #5a5a5a;
}

.discount .discount-in .info .tit {
  font-size: 30px;
  color: #000;
}

.discount .discount-in .info .price .nowText {
  font-size: 19px;
}

.discount .discount-in .info .price .nowPrice {
  font-size: 30px;
  color: #cc0000;
}

.discount .discount-in .info .price .before {
  font-size: 16px;
}

.discount .discount-in .info .content {
  margin-top: 30px;
}

.discount .discount-in .info .content p {
  font-size: 14px;
  margin-top: 16px;
}

.discount .discount-in .info .btn {
  width: 156px;
  height: 56px;
  border: 2px solid #F1c232;
  line-height: 52px;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  bottom: 4px;
  left: 0;
  cursor: pointer;
}

.discount .discount-in .info .btn span {
  font-size: 14px;
  color: #F1c232;
  font-weight: 700;
}

.discount .discount-in .info .btn:hover {
  background-color: #F1c232;
}

.discount .discount-in .info .btn:hover span {
  color: #fff;
}

.sever {
  width: 100%;
  height: 150px;
  margin-top: 50px;
  background: url(../img/t8_9gfp.jpg) no-repeat center;
}

.sever .sever-in {
  height: 100%;
  position: relative;
}

.sever .sever-in .tit-content {
  width: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sever .sever-in .tit-content p {
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
}

.sever .sever-in .tit-content p.tp {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
}

.sever .sever-in .tit-content p.bt {
  font-size: 16px;
  letter-spacing: 4px;
}

.sever .sever-in .line {
  width: 150px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -1px;
}

.sever .sever-in .line.lt {
  left: 218px;
}

.sever .sever-in .line.rt {
  right: 218px;
}

.module {
  margin-top: 20px;
}

.module .head-in {
  width: 100%;
  height: 66px;
  line-height: 66px;
}

.module .head-in .tit {
  float: left;
  color: #000;
  font-size: 22px;
}

.module .head-in .cont {
  float: right;
  color: #5a5a5a;
  font-size: 14px;
}

.module .body {
  width: 100%;
}

.module .body .show-main {
  width: 265px;
  height: 442px;
  background-color: red;
  float: left;
  position: relative;
}

.module .body .show-main img {
  width: 100%;
  height: 100%;
}

.module .body .show-main .block {
  width: 212px;
  height: 88px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 12px;
  position: absolute;
  bottom: 36px;
  left: 50%;
  margin-left: -106px;
}

.module .body .show-main .block .tit {
  text-align: center;
  line-height: 1.5;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.module .body .show-main .block .more {
  width: 108px;
  height: 38px;
  background-color: #f1c232;
  font-size: 12px;
  line-height: 38px;
  text-align: center;
  margin: 4px auto;
  color: #fff;
}

.module .body .show-list {
  width: 665px;
  height: 442px;
  float: right;
}

.module .body .show-list li {
  width: 205px;
  float: left;
  height: 201px;
  margin-bottom: 20px;
}

.module .body .show-list li:nth-child(2), .module .body .show-list li:nth-child(5) {
  margin: 0 25px;
}

.module .body .show-list li .imgBox {
  width: 100%;
  height: 160px;
}

.module .body .show-list li .imgBox img {
  width: 100%;
  height: 100%;
}

.module .body .show-list li .content {
  width: 100%;
  line-height: 1.5;
}

.module .body .show-list li .content .tit {
  white-space: nowrap;
  font-size: 14px;
  color: #000;
  font-weight: 700;
}

.module .body .show-list li .content .price {
  white-space: nowrap;
}

.module .body .show-list li .content .price .tag {
  font-size: 12px;
  color: #acacac;
}

.module .body .show-list li .content .price .num {
  font-size: 15px;
  color: #ff7d17;
  font-weight: 700;
}

.news {
  margin-top: 60px;
  width: 100%;
  background: url(../img/bg2_apj0.jpg) no-repeat top center;
  background-size: auto 520px;
}

.news .news-in .head-in {
  width: 100%;
  height: 120px;
  line-height: 120px;
}

.news .news-in .head-in .tit {
  float: left;
  color: #fff;
  font-size: 22px;
}

.news .news-in .head-in .cont {
  float: right;
  color: #fff;
  font-size: 14px;
}

.news .news-in .body {
  width: 100%;
}

.news .news-in .body .clu {
  width: 320px;
  position: relative;
  float: left;
}

.news .news-in .body .clu > div {
  width: 100%;
  height: 200px;
}

.news .news-in .body .clu > div img {
  width: 100%;
  height: 100%;
}

.news .news-in .body .clu .cont {
  background-color: #fff;
  box-sizing: border-box;
  padding: 20px;
  line-height: 1.5;
  overflow: hidden;
}

.news .news-in .body .clu .cont .tit {
  font-size: 14px;
  font-weight: 700;
}

.news .news-in .body .clu .cont .tit a {
  color: #5a5a5a;
}

.news .news-in .body .clu .cont .date {
  font-size: 12px;
  color: #929292;
}

.news .news-in .body .clu .cont .content {
  margin-top: 6px;
  font-size: 12px;
  color: #5a5a5a;
}

.news .news-in .body .clu .cont.end {
  box-sizing: border-box;
  padding: 60px 30px 0;
  line-height: 1.5;
}

.news .news-in .body .clu .cont.end .more {
  font-size: 16px;
}

.news .news-in .body .clu .cont.end .btn {
  font-size: 12px;
  width: 108px;
  height: 38px;
  background-color: #f1c232;
  line-height: 38px;
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

.news .news-in .body .clu .tag {
  color: #fff;
  line-height: 1.6;
  position: relative;
  text-align: center;
}

.news .news-in .body .clu .tag .dev {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.news .news-in .body .clu .tag .dev .cname {
  font-weight: 700;
  font-size: 19px;
}

.news .news-in .body .clu .tag .dev .ename {
  font-size: 17px;
}
