.canvas {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;

    .z-main {
        width: 100%;
        margin: 40px 0 100px;
        overflow: hidden;

        .z-main-left {
            width: 113px;
            float: left;

            .z-title-content {
                width: 100%;
                font-size: 13px;
                line-height: 140%;

                strong {
                    font-size: 19px;
                    color: rgb(69, 133, 225);
                }

                p {
                    color: rgb(186, 186, 186);
                }
            }

            ul {
                width: 100%;
                height: 219px;
                font-size: 14px;
                color: #858585;
                margin-top: 16px;

                li {
                    width: 100%;
                    padding: 0 4px 0 10px;
                    box-sizing: border-box;
                    line-height: 54px;
                    border-bottom: 1px solid #d0d0d0;
                    cursor: pointer;

                }

                .hot {
                    color: rgb(69, 133, 225);
                }

                li:last-child {
                    border-bottom: 0;
                }

                li:hover {
                    color: rgb(69, 133, 225);
                }
            }
        }

        .z-main-right {
            margin-left: 146px;
            min-height: 618px;
            position: relative;

            ul {
                position: absolute;
                top: 0;
                left: 0;
                background: #fff;
                display: none;

                li {
                    padding: 12px 0 25px;
                    margin: 10px 0;
                    border-bottom: 1px solid #dbd4cd;
                    overflow: hidden;

                    .z-time {
                        float: left;
                        width: 80px;
                        height: 69px;
                        margin-left: 20px;
                        text-align: center;
                        color: #fff;
                        font-size: 12px;
                        background: #4585ff;

                        .z-wp-time {
                            font-size: 26px;
                            font-weight: bold;
                            line-height: 41px;
                        }
                    }

                    .z-cn-news {
                        margin-left: 146px;
                        font-size: 17px;
                        line-height: 18px;

                        .z-title {
                            text-align: left;

                            a {
                                color: #5A5A5A;
                            }

                            a:hover {
                                color: #4585ff;
                            }
                        }

                        .z-text {
                            padding-top: 6px;
                            font-size: 12px;
                            color: #bfbfbf;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                }
            }

            .active {
                display: block;
            }

            .z-page {
                width: 100%;
                height: 25px;
                text-align: center;
                line-height: 25px;
                font-size: 12px;

                .ltarea,
                .gtarea {
                    display: inline-block;
                    height: 25px;

                    .z-cpb,
                    a {
                        color: #000;
                        font-weight: bold;
                        display: inline-block;
                        line-height: 18px;
                        padding: 0 5px;
                    }

                    a {
                        border: 1px solid #ccc;
                        color: #4261DE
                    }

                    a:hover {
                        background: #4261DE;
                        color: #fff;
                    }
                }

                .gtarea {
                    margin-left: 5px;

                    .z-one {
                        width: 25px;
                        outline: none;
                    }
                }
            }
        }
    }
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}