.canvas {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

.canvas .z-main {
  width: 100%;
  margin: 40px 0 100px;
  overflow: hidden;
}

.canvas .z-main .z-main-left {
  width: 113px;
  float: left;
}

.canvas .z-main .z-main-left .z-title-content {
  width: 100%;
  font-size: 13px;
  line-height: 140%;
}

.canvas .z-main .z-main-left .z-title-content strong {
  font-size: 19px;
  color: #4585e1;
}

.canvas .z-main .z-main-left .z-title-content p {
  color: #bababa;
}

.canvas .z-main .z-main-left ul {
  width: 100%;
  height: 219px;
  font-size: 14px;
  color: #858585;
  margin-top: 16px;
}

.canvas .z-main .z-main-left ul li {
  width: 100%;
  padding: 0 4px 0 10px;
  box-sizing: border-box;
  line-height: 54px;
  border-bottom: 1px solid #d0d0d0;
  cursor: pointer;
}

.canvas .z-main .z-main-left ul .hot {
  color: #4585e1;
}

.canvas .z-main .z-main-left ul li:last-child {
  border-bottom: 0;
}

.canvas .z-main .z-main-left ul li:hover {
  color: #4585e1;
}

.canvas .z-main .z-main-right {
  margin-left: 146px;
  height: 566px;
  position: relative;
}

.canvas .z-main .z-main-right ul {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.canvas .z-main .z-main-right ul li {
  position: relative;
  float: left;
  width: 262px;
  margin: 0 14px 20px 0;
}

.canvas .z-main .z-main-right ul li .z-img {
  width: 100%;
  height: 201px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.canvas .z-main .z-main-right ul li .z-img img {
  height: 100%;
  width: 100%;
}

.canvas .z-main .z-main-right ul li .z-img .z-desk {
  width: 100%;
  height: 201px;
  line-height: 201px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(69, 133, 255, 0.77);
  text-align: center;
  opacity: 0;
  transition: all .2s linear;
}

.canvas .z-main .z-main-right ul li .z-img .z-desk i {
  font-size: 32px;
  color: #fff;
}

.canvas .z-main .z-main-right ul li .z-img .z-desk:hover {
  opacity: 1;
}

.canvas .z-main .z-main-right ul li .z-article {
  padding-left: 6px;
}

.canvas .z-main .z-main-right ul li .z-article .z-title {
  margin-top: 4px;
}

.canvas .z-main .z-main-right ul li .z-article .z-title a {
  font-size: 14px;
  color: #5A5A5A;
  display: block;
}

.canvas .z-main .z-main-right ul li .z-article .z-title .z-price {
  line-height: 140%;
  font-size: 15px;
}

.canvas .z-main .z-main-right ul li .z-article .z-title .z-price .z-price-title {
  font-size: 12px;
  color: #ACACAC;
}

.canvas .z-main .z-main-right ul li .z-article .z-title .z-price .z-price-m {
  color: #ff7d17;
  font-weight: bold;
}

.canvas .z-main .z-main-right ul li:nth-child(3n) {
  margin-right: 0;
}

.canvas .z-main .z-main-right .active {
  display: block;
}

.canvas .z-main .z-main-right .z-page {
  width: 100%;
  height: 25px;
  text-align: center;
  line-height: 25px;
  font-size: 12px;
}

.canvas .z-main .z-main-right .z-page .ltarea,
.canvas .z-main .z-main-right .z-page .gtarea {
  display: inline-block;
  height: 25px;
}

.canvas .z-main .z-main-right .z-page .ltarea .z-cpb,
.canvas .z-main .z-main-right .z-page .gtarea .z-cpb {
  color: #000;
  font-weight: bold;
}

.canvas .z-main .z-main-right .z-page .gtarea {
  margin-left: 5px;
}

.canvas .z-main .z-main-right .z-page .gtarea .z-one {
  width: 25px;
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
